#filter {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
}

#filter input,
#filter select {
    display: inline;
    background-color: rgb(33, 36, 45);
    color: white;
    padding: 8px 16px;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    height: 33px;
}

#filter input:hover,
#filter select:hover {
    background-color: rgb(45, 49, 60);
}

#filter select {
    padding: 8px 0px 8px 16px;
    border-right: 16px solid transparent;
}

#filter input[type='submit'],
#filter #reset {
    align-self: flex-end;
}

h2 {
    margin: 1rem 0 0;
    text-align: center;
}

h3 {
    margin: 2rem 0 -1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
}

#servers {
    margin: 0 auto 1rem;
    width: min(100%, 1340px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    box-sizing: border-box;

    .server {
        position: relative;
        background-color: rgb(8, 8, 9);
        border-radius: 6px;
        cursor: pointer;
        overflow: hidden;
        color: aliceblue;
        transition: all ease 200ms;
        min-height: 174px;

        &:hover {
            color: white;
            box-shadow: 0px 4px 15px 0px #cc335e;
            transform: translateY(-1px);
        }

        .serverBackground {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            filter: blur(10px);
            position: absolute;
            inset: -12px;
        }

        .serverContent {
            display: flex;
            flex-direction: column;
            position: absolute;
            background-color: rgba(8, 8, 9, 0.4);
            padding: 1rem;
            text-align: center;
            align-items: center;
            vertical-align: middle;
            inset: 0;

            .serverIcon {
                display: flex;
                border-radius: 50%;
                width: 80px !important;
                height: 80px !important;
                margin-bottom: 1rem;
                border: 2px solid rgb(255, 255, 255);
                font-size: 24px;
                justify-content: center;
                align-items: center;
            }

            .serverName {
                font-weight: bold;
                max-width: 100%;
                overflow-wrap: break-word;
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    #servers {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 850px) {
    #servers {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 550px) {
    #servers {
        grid-template-columns: 1fr;
    }
}