
#sorting_options {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
    input, select {
        display: inline;
        background-color: rgb(33, 36, 45);
        color: white;
        padding: 8px 16px;
        box-sizing: border-box;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        height: 33px;

        &:hover {
            background-color: rgb(45, 49, 60);
        }
    }

    select {
        padding: 8px 0px 8px 16px;
        border-right: 16px solid transparent;
    }

    input[type='submit'], #reset {
        align-self: flex-end;
    }
}

h2 {
    margin: 1rem 0 0;
    text-align: center;
}

h3 {
    margin: 2rem 0 -1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
}
