$background_1: hsl(244, 25%, 4%);
$background_2: hsl(244, 24%, 6%);
$background_3: hsl(244, 23%, 8%);
$background_4: hsl(244, 22%, 10%);
$background_5: hsl(244, 20%, 12%);
$background_6: hsl(244, 19%, 14%);
$accent: #106DFF;
$accent_transparent_75: hsla(217, 100%, 53%, 0.75);
$accent_transparent_50: hsla(217, 100%, 53%, 0.5);
$accent_transparent_25: hsla(217, 100%, 53%, 0.25);
$red: hsl(10, 100%, 53%);
$red_transparent_75: hsla(10, 100%, 53%, 0.75);
$red_transparent_50: hsla(10, 100%, 53%, 0.5);
$red_transparent_25: hsla(10, 100%, 53%, 0.25);

$nav_background_color: hsl(244, 25%, 4%);
$nav_border_color: hsl(244, 12%, 28%);
$nav_height: 60px;

$font_color: white;
$font_color_muted: rgb(200, 200, 200);

$terminal_background_color: hsl(244, 27%, 4%);
$terminal_border_color: hsl(244, 12%, 28%);
$terminal_muted: rgb(155, 155, 155);
$terminal_prompt: #106DFF;
$terminal_user: #106DFF;
$terminal_path: #106DFF;
$terminal_primary: #106DFF;
$terminal_accent: #106DFF;
$terminal_gb_light: hsl(244, 20%, 12%);

#sorting_options {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
    input, select {
        display: inline;
        background-color: rgb(33, 36, 45);
        color: white;
        padding: 8px 16px;
        box-sizing: border-box;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        height: 33px;

        &:hover {
            background-color: rgb(45, 49, 60);
        }
    }

    select {
        padding: 8px 0px 8px 16px;
        border-right: 16px solid transparent;
    }

    input[type='submit'], #reset {
        align-self: flex-end;
    }
}

h2 {
    margin: 1rem 0 0;
    text-align: center;
}

h3 {
    margin: 2rem 0 -1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
}

.server {
    position: relative;
    background-color: $background_6;
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
    color: aliceblue;
    transition: all ease 200ms;
    min-height: 174px;
    border: 1px solid transparent;

    &:hover {
        color: white;
        border: 1px solid $accent;
        transform: translateY(-2px) scale(1.02);
    }

    .server_background {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: blur(10px);
        position: absolute;
        inset: -12px;
    }

    .server_content {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: rgba(8, 8, 9, 0.4);
        padding: 1rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        inset: 0;

        .server_icon {
            display: flex;
            border-radius: 50%;
            width: 80px !important;
            height: 80px !important;
            margin-bottom: 1rem;
            border: 2px solid rgb(255, 255, 255);
            font-size: 24px;
            justify-content: center;
            align-items: center;
        }

        .server_name {
            font-weight: 900;
            max-width: 100%;
            overflow-wrap: break-word;
        }
    }
}