#pack-container {
        margin: 1rem 0;
        background-color: rgb(33, 36, 45);
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        object-fit: contain;
        border-radius: 10px;
        overflow: visible;
        transition: all ease 200ms;
        flex-direction: column;
        color: aliceblue;
    }
    #pack {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding: 16px;
        margin: 0 auto;
        box-sizing: border-box;
        gap: 16px;
    }
    #pack-info {
        text-align: left;
        display: flex;
        flex-direction: column;
        max-width: 200px;
    }
    #pack-icon {
        border-radius: 6px;
        max-width: 200px;
        min-width: 200px;
    }
    #pack-name {
        margin: 0;
    }

    #server-info {
        text-align: left;
        display: flex;
        flex-direction: column;
        max-width: 300px;
    }
    #server-info h2 {
        margin: 0;
    }
    #server-info .green {
        color: hsl(147, 88%, 62%);
    }
    #server-info .red {
        color: hsl(7, 88%, 62%);
    }
    #server-info .orange {
        color: hsl(34, 88%, 62%);
    }

    #downloads {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        width: 200px;
    }
    #downloads a,
    #server-info-login {
        display: block;
    }
    #server-info-login {
        margin-top: 1rem;
        align-self: center;
        display: inline;
        max-width: fit-content;
    }

    #map-container {
        margin: 1rem 0;
        background-color: rgb(33, 36, 45);
        max-width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        object-fit: contain;
        border-radius: 10px;
        overflow: hidden;
        transition: all ease 200ms;
        flex-direction: column;
        color: aliceblue;
        position: relative;
    }

    #map-frame {
        border: none;
        width: 100%;
        height: 100%;
    }

    #map-options {
        position: absolute;
        top: 0;
    }

    @media screen and (max-width: 850px) {
        #pack {
            display: flex;
            flex-direction: column;
        }

        #pack > div {
            text-align: center;
            max-width: 100%;
            align-items: center;
            margin: auto;
        }
    }