#map-container {
    margin: 1rem 0;
    background-color: rgb(33, 36, 45);
    max-width: 100%;
    height: calc(100vh - 120px - 8rem);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: contain;
    border-radius: 6px;
    overflow: hidden;
    transition: all ease 200ms;
    flex-direction: column;
    color: aliceblue;
    position: relative;
    border: 1px solid rgb(64, 63, 80);

    #map-frame {
        border: none;
        width: 100%;
        height: 100%;
    }

    #map-options {
        position: absolute;
        top: 1rem;
    }
}
