:root {
    --background: rgb(15, 18, 26);
    --background-2: rgb(25, 28, 36);
    --background-3: rgb(33, 36, 45);
    --background-4: rgb(45, 49, 60);
    color: hsl(224, 16%, 87%);
}

* {
    box-sizing: border-box !important;
}

body {
    width: 1280px !important;
    height: 1030px !important;
    margin: 0px;
    font-family: SF Pro Text, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif,
        apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
    font-size: 1.5rem;
}

#main {
    width: 1280px !important;
    height: 1030px !important;
    background-color: var(--background);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem;
    gap: 1rem;
}

#header {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 1rem;
    justify-content: flex-end;

    &>div {
        position: relative;
        display: flex;
        align-items: end;
    }

    #server {
        margin-right: auto;
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        font-size: 1.8rem;
        color: hsl(224, 13%, 59%);

        #serverIcon {
            border-radius: 12px;
            height: 90px;
        }

        &>div {
            margin-left: 0.8rem;

            #serverName {
                font-weight: bold;
                font-size: 3.7rem;
                margin-right: 0.7rem;
                color: hsl(224, 16%, 87%);
                line-height: 2.7rem;
            }

            #memberCount {
                display: block;
                justify-self: baseline;
                font-size: 1.6rem;
            }
        }
    }

    &>.sort>div {
        width: fit-content;

        &:first-child {
            background-color: var(--background-4);
            padding: 5px 10px;
            border-radius: 12px;
            font-weight: bold;
            z-index: 1;
            position: absolute;
            top: 0;
            left: 10px;
            box-shadow: 2px 2px 7px 2px #00000080;
        }

        &:last-child {
            background-color: var(--background-3);
            font-size: 1.75rem;
            padding: 10px 20px 10px;
            border-radius: 12px;
            z-index: 0;
            box-shadow: 2px 2px 7px 2px #00000080;
        }
    }
}

#bottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 1rem;

    &>div {
        gap: 1rem;
        background-color: var(--background-3);
        flex-grow: 1;
        border-radius: 12px;
        box-shadow: 2px 2px 7px 2px #00000080;
        display: flex;
        align-items: center;
        padding: 20px;

        &> :nth-child(1) {
            border-radius: 12px;
            background-color: var(--background);
            width: 90px;
            height: 90px;
            min-width: 90px;
            max-width: 90px;
            min-height: 90px;
            max-height: 90px;
            text-align: center;
            font-size: 3rem;
            font-weight: bold;
            padding: 12px;

            &.first {
                background-color: hsl(224, 50%, 20%);
            }

            &.second {
                background-color: hsl(224, 41%, 15%);
            }

            &.third {
                background-color: hsl(224, 32%, 10%);
            }
        }

        &> :nth-child(2) {
            border-radius: 12px;
            height: 90px;
        }

        &> :nth-child(3) {
            display: flex;
            flex-direction: column;

            &> :nth-child(1) {
                font-size: 2.2rem;
                font-weight: bold;
            }

            &> :nth-child(2) {
                color: hsl(224, 13%, 59%);
                font-size: 1.7rem;
            }
        }

        &> :nth-child(4) {
            height: 90px;
            display: flex;
            flex-direction: column;
            justify-self: end;
            font-size: 1.8rem;
            color: hsl(224, 13%, 59%);
            text-align: end;
            flex-grow: 1;
            line-height: 2rem;
            margin-top: -0.5rem;

        }
    }
}