HOST_IP = ""
MAIN_WEB_PORT = ""
RAINBOW_WEB_PORT = ""
ASSETS_PATH = ""
CSS_PATH = ""

MINECRAFT_API_ENABLED = "True" or "False"
MINECRAFT_ROUTES_ENABLED = "True" or "False"
ROLE_EATER_API_ENABLED = "True" or "False"
ROLE_EATER_ROUTES_ENABLED = "True" or "False"

MCSS_PORT =""
MCSS_KEY = ""
SERVERS_PATH = ""
ARCHIVED_SERVERS_PATH = ""

PG_HOST = ""
PG_PORT = ""
PG_USER = ""
PG_PASSWORD = ""
PG_DB = ""