HOST_IP=
MAIN_WEB_PORT=
MINECRAFT_WEB_PORT=
ROLE_EATER_WEB_PORT=
R6_WEB_PORT=

SHARED_ASSETS_PATH=
MAIN_ASSETS_PATH=
MINECRAFT_ASSETS_PATH=
ROLE_EATER_ASSETS_PATH=
R6_ASSETS_PATH=
VAULT_ASSETS_PATH=

// This section is only needed if you intend to build the minecraft subdomain
MCSS_URL="http(s)://ip:port"
MCSS_KEY=
SERVERS_PATH=
ARCHIVED_SERVERS_PATH=

// This section is only needed if you intend to build the role_eater subdomain
DATABASE_URL="postgresql://username:password@ip:port/database"