:root {
    --background: rgb(15, 18, 26);
    --background-2: rgb(25, 28, 36);
    --background-3: rgb(33, 36, 45);
    --background-4: rgb(45, 49, 60);
    --blur: 4px;
    --saturation: 0.8;
    color: hsl(224, 16%, 87%);
}

* {
    box-sizing: border-box !important;
}

body {
    width: 1280px !important;
    height: 706px !important;
    margin: 0px;
    font-family: SF Pro Text, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif,
        apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
    font-size: 1.5rem;
}

#main {
    width: 1280px !important;
    height: 706px !important;
    background-color: var(--background);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem;
    gap: 1rem;
    background-size: cover;
    background-position: center;
}

#main.customImage {
    --background: rgba(20, 20, 20, 0.5);
    --background-2: rgba(31, 31, 31, 0.5);
    --background-3: rgba(38, 38, 38, 0.5);
    --background-4: rgba(54, 54, 54, 0.5);

    & * {
        text-shadow: 2px 2px black;
    }
}

#header {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 1rem;
    justify-content: flex-end;

    &>div {
        position: relative;
        display: flex;
        align-items: end;
    }

    #user {
        margin-right: auto;
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        font-size: 1.8rem;
        color: hsl(224, 13%, 59%);
        background-color: var(--background);
        border-radius: 12px;
        padding: 0 1rem 0 0;
        backdrop-filter: blur(var(--blur)) saturate(var(--saturation));

        #userAvatar {
            border-radius: 12px;
            height: 90px;
        }

        &>div {
            margin-left: 0.8rem;

            #displayName {
                font-weight: bold;
                font-size: 2.4rem;
                margin-right: 0.7rem;
                color: hsl(224, 16%, 87%);
            }

            #serverName {
                display: block;
                justify-self: baseline;
            }
        }
    }

    &>.date>div {
        width: fit-content;
        backdrop-filter: blur(var(--blur)) saturate(var(--saturation));

        &:first-child {
            background-color: var(--background-4);
            padding: 5px 10px;
            border-radius: 12px;
            font-weight: bold;
            z-index: 1;
            position: absolute;
            top: 0;
            left: 10px;
            box-shadow: 2px 2px 7px 2px #00000080;
        }

        &:last-child {
            background-color: var(--background-3);
            font-size: 1.75rem;
            padding: 10px 20px 10px;
            border-radius: 12px;
            z-index: 0;
            box-shadow: 2px 2px 7px 2px #00000080;
        }
    }
}

.title {
    font-weight: bold;
    font-size: 1.9rem;
}

#rankActivity {
    display: flex;
    gap: 1rem;

    &>div {
        flex-grow: 1;
        background-color: var(--background-3);
        border-radius: 12px;
        padding: 0.5rem 1rem 1rem;
        box-shadow: 2px 2px 7px 2px #00000080;
        backdrop-filter: blur(var(--blur)) saturate(var(--saturation));

        .content {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &>div {
                flex-grow: 1;
                display: flex;
                background-color: var(--background-2);
                border-radius: 12px;

                >span {
                    padding: 0.3rem 0;

                    &:first-child {
                        background-color: var(--background);
                        width: 45%;
                        display: flex;
                        justify-content: center;
                        border-radius: 12px;
                        font-weight: bold;
                        font-size: 1.7rem;
                    }
                }

                &>div {
                    padding: 0.4rem 1rem;
                    display: flex;
                    align-items: center;
                    font-size: 1.7rem;
                    width: 55%;

                    &.center {
                        justify-content: center;
                    }

                    i {
                        font-size: 1.4rem;
                        align-self: end;
                        padding-left: 0.2rem;
                        color: hsl(224, 13%, 59%);
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

#bottom {
    display: flex;
    gap: 1rem;

    &>div {
        width: calc(50% - 0.5rem);
        background-color: var(--background-3);
        border-radius: 12px;
    }

    #activities {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1rem 1rem;
        gap: 0.5rem;
        box-shadow: 2px 2px 7px 2px #00000080;
        backdrop-filter: blur(var(--blur)) saturate(var(--saturation));

        &>div {
            max-height: calc(50% - 0.25rem);
        }

        .content {
            display: flex;
            gap: 1rem;

            &>div {
                display: flex;
                flex-direction: column;
                width: 50%;
                height: 98.59px;
                background-color: var(--background-2);
                border-radius: 12px;
                overflow: hidden;

                &>span {
                    background-color: var(--background);
                    width: 100%;
                    padding: 0.3rem 1rem;
                    font-weight: bold;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    padding: 0.3rem 1rem;

                    span {
                        font-size: 1.3rem;
                        line-height: 1.4rem;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    i {
                        font-size: 1.1rem;
                        color: hsl(224, 13%, 59%);
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

            }
        }
    }

    #chart {
        box-shadow: 2px 2px 7px 2px #00000080;
        backdrop-filter: blur(var(--blur)) saturate(var(--saturation));

        &>div {
            padding: 0.5rem 1rem 1rem;

            >span {
                font-weight: bold;
                font-size: 1.9rem;
            }

            .legend {
                display: flex;
                gap: 1rem;

                &>div {
                    display: flex;
                    flex-direction: column;

                    &>:first-child {
                        display: flex;
                        align-items: center;

                        span {
                            font-size: 1.2rem;
                            font-weight: bold;
                        }

                        i {
                            font-size: 1rem;
                            align-self: end;
                            padding-left: 0.2rem;
                            color: hsl(224, 13%, 59%);
                            font-weight: normal;
                        }
                    }

                    &>:last-child {
                        margin-top: 0.1rem;
                        height: 0.25rem;
                        width: 100%;
                        border-radius: 1rem;
                    }
                }
            }
        }
    }
}