$background: rgb(15, 18, 26);
$background-2: rgb(25, 28, 36);
$background-3: rgb(33, 36, 45);
$background-4: rgb(45, 49, 60);
$blur: 4px;
$saturation: 0.8;

:root {
    --background: rgb(15, 18, 26);
    --background-2: rgb(25, 28, 36);
    --background-3: rgb(33, 36, 45);
    --background-4: rgb(45, 49, 60);
    --blur: 4px;
    --saturation: 0.8;
    color: hsl(224, 16%, 87%);
}

* {
    box-sizing: border-box !important;
}

body {
    width: 1280px !important;
    height: 706px !important;
    margin: 0px;
    font-family: SF Pro Text, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif,
        apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
    font-size: 1.5rem;
}

#main {
    width: 1280px !important;
    height: 706px !important;
    background-color: var(--background);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem;
    gap: 1rem;
    background-size: cover;
    background-position: center;
}

#main.customImage {
    --background: rgba(20, 20, 20, 0.5);
    --background-2: rgba(31, 31, 31, 0.5);
    --background-3: rgba(38, 38, 38, 0.5);
    --background-4: rgba(54, 54, 54, 0.5);

    & * {
        text-shadow: 2px 2px black;
    }
}

#header {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 1rem;
    justify-content: flex-end;

    &>div {
        position: relative;
        display: flex;
        align-items: end;
    }

    #user {
        margin-right: auto;
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        font-size: 1.8rem;
        color: hsl(224, 13%, 59%);
        background-color: var(--background);
        border-radius: 12px;
        padding: 0 1rem 0 0;
        backdrop-filter: blur($blur) saturate($saturation);

        #userAvatar {
            border-radius: 12px;
            height: 90px;
        }

        &>div {
            margin-left: 0.8rem;

            #displayName {
                font-weight: bold;
                font-size: 2.4rem;
                margin-right: 0.7rem;
                color: hsl(224, 16%, 87%);
            }

            #serverName {
                display: block;
                justify-self: baseline;
            }
        }
    }

    &>.date>div {
        width: fit-content;
        backdrop-filter: blur($blur) saturate($saturation);

        &:first-child {
            background-color: var(--background-4);
            padding: 5px 10px;
            border-radius: 12px;
            font-weight: bold;
            z-index: 1;
            position: absolute;
            top: 0;
            left: 10px;
            box-shadow: 2px 2px 7px 2px #00000080;
        }

        &:last-child {
            background-color: var(--background-3);
            font-size: 1.75rem;
            padding: 10px 20px 10px;
            border-radius: 12px;
            z-index: 0;
            box-shadow: 2px 2px 7px 2px #00000080;
        }
    }
}

.title {
    font-weight: bold;
    font-size: 1.9rem;
}

#legend {
    display: flex;
    gap: 1rem;

    &>div {
        flex-grow: 1;
        background-color: var(--background-3);
        border-radius: 12px;
        padding: 0.5rem 1rem 1rem;
        box-shadow: 2px 2px 7px 2px #00000080;
        backdrop-filter: blur($blur) saturate($saturation);

        .content {
            display: flex;
            background-color: var(--background-2);
            border-radius: 12px;
            padding: 0.4rem 1rem 0.8rem;
            align-items: center;
            font-size: 1.7rem;
            width: 100%;
            position: relative;
            overflow: hidden;

            i {
                font-size: 1.4rem;
                align-self: end;
                padding-left: 0.2rem;
                color: hsl(224, 13%, 59%);
                font-weight: normal;
            }

            >div {
                position: absolute;
                width: 100%;
                height: 9px;
                left: 0;
                bottom: 0;
            }

        }
    }
}


#chart {
    box-shadow: 2px 2px 7px 2px #00000080;
    width: 100%;
    background-color: var(--background-3);
    border-radius: 12px;
    padding: 1.5rem 1rem 1rem;
    backdrop-filter: blur($blur) saturate($saturation);

    &>div {
        padding: 0.5rem 1rem 1rem;

        >span {
            font-weight: bold;
            font-size: 1.9rem;
        }

        .legend {
            display: flex;
            gap: 1rem;

            &>div {
                display: flex;
                flex-direction: column;

                &>:first-child {
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 1.2rem;
                        font-weight: bold;
                    }

                    i {
                        font-size: 1rem;
                        align-self: end;
                        padding-left: 0.2rem;
                        color: hsl(224, 13%, 59%);
                        font-weight: normal;
                    }
                }

                &>:last-child {
                    margin-top: 0.1rem;
                    height: 0.25rem;
                    width: 100%;
                    border-radius: 1rem;
                }
            }
        }
    }
}

#footer {
    margin-top: -0.3rem;
    font-size: 1.4rem;
    background-color: var(--background);
    border-radius: 12px;
    padding: 0 1rem;
    width: fit-content;
    backdrop-filter: blur($blur) saturate($saturation);
}