#content {
    &>div {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        gap: 1rem;

        h1 {
            margin-bottom: 0;
        }
    }

    .sectionHeader {
        color: rgb(138, 145, 165);
        display: grid;
        grid-template-columns: 64px auto 90px 90px 90px !important;
        padding: 0 1rem;
        text-align: center;
        margin: -0.5rem 0;

        h3 {
            grid-column: span 5;
            font-weight: 600;
            text-align: left;
            margin: -1rem -1rem 0 -1rem;
        }
    }

    #guild {
        padding: 1rem;
        border-radius: 12px;
        background-color: var(--background-2);
        font-weight: bold;
        color: white;
        display: flex;
        flex-direction: column;

        h1 {
            margin: 0;
        }

        h2 {
            margin: 0 0 0.5rem;

            span {
                color: rgb(138, 145, 165);
                font-size: 0.9rem;
                font-weight: 600;
            }
        }

        #guildTop {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            #guildIcon {
                border-radius: 0.4rem;
                font-size: 3rem;
                min-width: 128px;
                min-height: 128px;
                max-width: 128px;
                max-height: 128px;
                text-align: center;
                align-content: center;
                background-color: var(--background);
                overflow: hidden;
                text-overflow: ellipsis;
            }


            &>div>div {
                display: flex;
                flex-direction: column;
            }

        }
    }

    .user {
        display: grid;
        grid-template-columns: 64px calc(64px + 2rem) auto 90px 90px 90px !important;
        padding: 0 1rem;
        align-items: center;
        border-radius: 12px;
        background-color: var(--background-2);
        font-weight: bold;
        color: white;
        cursor: pointer;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .position {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 64px;
            height: 64px;
            background-color: var(--background);
            border-radius: 8px;
            text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
            font-size: 1.1rem;

            &.first {
                background-color: hsl(224, 50%, 20%);
            }

            &.second {
                background-color: hsl(224, 41%, 15%);
            }

            &.third {
                background-color: hsl(224, 32%, 10%);
            }
        }

        .userAvatar {
            height: 64px;
            border-radius: 1.5rem;
            padding: 1rem;
        }

        .role {
            display: flex;
            align-items: center;
            background-color: var(--background);
            border-radius: 16px;
            font-weight: 500;
            font-size: 14px;
            padding: 0 0.5rem 0 0;

            .roleColor {
                min-width: 16px;
                min-height: 16px;
                max-width: 16px;
                max-height: 16px;
                border-radius: 50%;
                display: inline-block;
                margin: 0.5rem;
            }
        }

        .username {
            display: flex;
            flex-direction: column;
            font-size: 1.1rem;

            span {
                font-size: 0.9rem;
                color: rgb(181, 187, 202);
            }
        }

        .xp {
            text-align: center;
            font-size: 14px;
            color: rgb(181, 187, 202);
        }
    }
}

@media screen and (max-width: 824px) {
    #content {
        .sectionHeader {
            font-size: 12px;
            padding: 0 0.7rem;
            margin: -0.5rem 0;
            grid-template-columns: 2.5rem auto 50px 50px 50px !important;

            h3 {
                grid-column: span 5;
                font-weight: 600;
                text-align: left;
                margin: -1rem -0.5rem 0 -0.5rem;
            }
        }

        .user {
            padding: 0 0.7rem;
            grid-template-columns: 2.5rem 3.5rem auto 50px 50px 50px !important;

            .position {
                width: 2.5rem;
                height: 2.5rem;
            }

            .userAvatar {
                height: 2.5rem;
                border-radius: 1rem;
                padding: 0.5rem;
            }

            .username {
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 1rem;

                span {
                    font-size: 0.8rem;
                }
            }

            .role {
                font-size: 10px;
                padding: 0 0.25rem 0 0;
                max-width: 18px;
                min-width: 18px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                .roleColor {
                    min-width: 14px;
                    min-height: 14px;
                    max-width: 14px;
                    max-height: 14px;
                    margin: 0.25rem;
                }

                span {
                    display: none;
                }
            }

            .messages,
            .level {
                font-size: 12px;
            }
        }
    }
}