h2 {
    margin: 1rem 0 0;
    text-align: center;
}

h3 {
    margin: 2rem 0 -1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
}

#guilds {
    margin: 1rem auto;
    width: min(100%, 1340px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    box-sizing: border-box;

    .guild {
        position: relative;
        background-color: rgb(8, 8, 9);
        border-radius: 6px;
        cursor: pointer;
        overflow: hidden;
        color: aliceblue;
        transition: all ease 200ms;
        min-height: 174px;

        &:hover {
            color: white;
            box-shadow: 0px 4px 15px 0px #cc335e;
            transform: translateY(-1px);
        }

        .guildBackground {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            filter: blur(10px);
            position: absolute;
            inset: -12px;
        }

        .guildContent {
            display: flex;
            flex-direction: column;
            position: absolute;
            background-color: rgba(8, 8, 9, 0.4);
            padding: 1rem;
            text-align: center;
            align-items: center;
            vertical-align: middle;
            inset: 0;

            .guildIcon {
                display: flex;
                border-radius: 50%;
                width: 80px !important;
                height: 80px !important;
                margin-bottom: 1rem;
                border: 2px solid rgb(255, 255, 255);
                font-size: 24px;
                justify-content: center;
                align-items: center;
            }

            .guildName {
                font-weight: bold;
                max-width: 100%;
                overflow-wrap: break-word;
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    #guilds {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 850px) {
    #guilds {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 550px) {
    #guilds {
        grid-template-columns: 1fr;
    }
}