:root {
    --background: rgb(15, 18, 26);
    --background-2: rgb(25, 28, 36);
    --background-3: rgb(33, 36, 45);
    --background-4: rgb(45, 49, 60);
    scrollbar-color: var(--background-3) var(--background);
}

html {
    color: white;
    box-sizing: border-box;
    font-family: SF Pro Text, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.custom_button {
    border-radius: 8px;
    padding: 8px 16px;
    color: aliceblue;
    background-color: #19274d;
    text-shadow: 0.5px 0.5px 0.5px black;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    cursor: pointer;
    transition: all ease 200ms;

    &:hover {
        color: white;
        background-color: #171f36;
        box-shadow: 0px 4px 15px 0px #cc335e;
        transform: translateY(-1px);
    }

    &.disabled {
        color: rgb(178, 195, 210);
        background-color: #171f36;
        pointer-events: none;

        &:hover {
            box-shadow: 0px 4px 15px 0px #cc3333;
        }
    }
}

@media screen and (min-width: 802px) {
    body {
        max-width: 802px;
    }

    nav {
        #logo {
            width: 200px;
        }

        #end {
            width: 200px;
        }
    }
}

@media screen and (max-width: 824px) {
    #username {
        display: none;
    }

    #caret {
        margin: auto auto auto -3px !important;
    }

    body {
        font-size: smaller !important;
    }

    nav #center {
        gap: 6px !important;

        a {
            padding: 0.25rem 0.35rem !important;
        }
    }
}

@media screen and (min-width: 540px) {
    body {
        max-width: 540px;
    }
}

body {
    background-color: var(--background);
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    /* overflow-y: scroll; */
}

.hidden {
    display: none !important;
    animation-play-state: paused !important;
}

.rotated {
    transform: rotate(180deg);
}

a {
    text-decoration: none;
    color: hsl(344, 60%, 60%);
}

a:hover {
    color: hsl(343, 60%, 50%);
}

nav {
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid var(--background-3);
    width: 100%;
    display: flex;
    color: rgb(138, 145, 165);
    font-size: 13px;
    justify-content: space-between;
    position: relative;
    tab-size: 4;
    z-index: 30;

    #logo {
        white-space: nowrap;
        cursor: pointer;
        text-wrap: nowrap;
        height: 29px;

        img {
            width: 29px;
            height: 29px;
        }
    }

    #center {
        position: static;
        z-index: 50;
        top: 50px;
        display: flex;
        flex-direction: row;
        font-weight: 500;
        justify-content: center;
        overflow: hidden;
        gap: 12px;

        a {
            border-radius: 8px;
            color: rgb(138, 145, 165);
            cursor: pointer;
            padding: 0.5rem 0.75rem;
            transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
            text-decoration: none;
            line-height: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover,
            .active {
                background-color: var(--background-3);
                color: rgb(255, 255, 255);
            }
        }
    }

    #end {
        display: flex;
        justify-content: flex-end;
    }

    #user {
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 8px;
        height: 29px;
        color: white;

        &:hover {
            background-color: var(--background-3);
        }

        img {
            border-radius: 100%;
            padding: 2px;
        }

        span {
            padding-left: 0.5rem;
        }

        svg {
            margin-left: 0.25rem;
        }
    }

    .popout {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        position: absolute;
        background: var(--background-3);
        top: 3.1rem;
        right: 0;
        text-align: center;
        border-radius: 8px;
        box-sizing: content-box;
        border: 1px solid rgba(45, 49, 60, 255);

        #logout,
        a {
            border-radius: 8px;
            color: rgb(138, 145, 165);
            cursor: pointer;
            padding: 0.5rem 0.75rem;
            transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
            text-decoration: none;
            line-height: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover {
                color: rgb(255, 255, 255);
            }
        }

        #logout:hover {
            color: rgb(236, 84, 84);
        }
    }
}

.statusPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(80vh - 77px);

    h1 {
        font-size: 8rem;
        margin-bottom: 1rem;
        margin-top: 0;
    }

    h3 {
        margin: 0;
    }

    a {
        display: inline-block;
        padding: 12px 24px;
        border-radius: 6px;
        cursor: pointer;
        font-weight: bold;
        max-width: fit-content;
    }
}

#auth {
    font-size: 4rem;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 100;

    .tooltiptext {
        visibility: hidden;
        width: 160px;
        background-color: rgba(33, 36, 45, 255);
        text-align: center;
        border-radius: 8px;
        padding: 6px 12px;
        border: 1px solid rgba(45, 49, 60, 255);
        position: absolute;
        z-index: 999;
        bottom: 140%;
        left: 50%;
        margin-left: -60px;
    }

    &:hover .tooltiptext {
        visibility: visible;
    }
}