:root {
    --black: #111;
}

body {
    background: #111;
    color: white;
    margin: 0 0 0 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: #f0758a;
}

a:hover {
    color: hsl(350, 70%, 60%);
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2020;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

nav>.container {
    height: 56px;
    padding: 0 16px;
    display: flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 1px #000000;
}

nav>.container::after {
    content: "";
    height: 5px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 2050;
    bottom: 0;
    left: 0;
}

nav #start {
    display: flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav #start #logo #logo {
    padding: 0;
    align-items: center;
    flex: none;
    display: flexbox;
    display: flex;
    flex-direction: row;
    align-self: center;
}

nav #start #logo #logo img {
    height: 56px;
    padding: 0px 14px 0px 16px;
}

nav #center {
    flex: 0 1 732px;
    min-width: 0;
    display: flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav #center>#search {
    display: flexbox;
    display: flex;
    margin: 0 1rem;
    padding: 0 4px;
    flex: 1;
}

nav #center #searchForm {
    height: 40px;
    position: relative;
    flex: 1;
    display: flexbox;
    display: flex;
    flex-direction: row;
}

nav #center #searchForm>#container {
    position: relative;
    align-items: center;
    background-color: #111;
    border: 1px solid #333;
    box-shadow: inset 0 1px 2px #333;
    caret-color: white;
    color: white;
    padding: 0px 16px 0px 16px;
    flex: 1;
    display: flexbox;
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
}

nav #center #searchForm>#container>#searchInput {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    color: white !important;
}

nav #end {
    display: flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

nav #end #user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
}

aside#sidebar {
    position: fixed;
    top: 56px;
    bottom: 0;
    width: 4.5rem;
    z-index: 2010;
    transform: translateY(0);
    transition: transform 0.3s ease;
    overflow: hidden;
}

aside#sidebar ul {
    list-style: none;
    padding: 0;
}

aside#sidebar li {
    display: flex;
    align-items: center;
    align-content: center;
}

aside#sidebar a {
    margin: 4px;
    display: flex;
    width: 100%;
    height: 4.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: x-small;
    color: white;
    border-radius: 12px;
    transition: background ease 200ms;
}

aside#sidebar a:hover {
    background-color: #333;
    color: white;
}

aside#sidebar img {
    display: block;
    width: 1.8rem;
}

#content.container {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 4rem;
    right: 0;
    overflow-y: scroll;
    z-index: 2010;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

#userAvatar {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


::-webkit-scrollbar-track {
    background: #111;
    padding: 2px;
}

::-webkit-scrollbar-thumb {
    background: #444;
    border: none;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#result {
    position: absolute;
    display: none;
    background-color: #111;
    border: 1px solid #333;
    padding: 0rem;
    top: 120%;
    left: 0;
    border-radius: 0.5rem;
    max-height: 10.9rem;
    overflow-y: hidden;
}

#result ul {
    max-height: 10.9rem;
    overflow-y: scroll;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#result ul::-webkit-scrollbar {
    width: 10px;
}

#result ul::-webkit-scrollbar-thumb {
    background: #444;
    border: 1px solid #111;
}

#result ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.1rem 1rem;
}

#result ul li:hover {
    background: #333;
    cursor: pointer;
}

.termName {
    font-size: 0.8rem;
}

.termCount {
    padding-left: 0.2rem;
    font-size: 0.7rem;
    color: #aaa;
}

.tag-type-artist {
    color: hsl(323, 80%, 70%);
}

.tag-type-artist:hover {
    color: hsl(323, 70%, 60%);
}

.tag-type-character {
    color: hsl(210, 80%, 70%);
}

.tag-type-character:hover {
    color: hsl(210, 70%, 60%);
}

.tag-type-copyright {
    color: hsl(280, 80%, 70%);
}

.tag-type-copyright:hover {
    color: hsl(280, 70%, 60%);
}

.tag-type-general {
    color: hsl(180, 80%, 70%);
}

.tag-type-general:hover {
    color: hsl(180, 70%, 60%);
}

.tag-type-invalid {
    color: hsl(0, 80%, 70%);
}

.tag-type-invalid:hover {
    color: hsl(0, 70%, 60%);
}

.tag-type-lore {
    color: hsl(230, 80%, 70%);
}

.tag-type-lore:hover {
    color: hsl(230, 70%, 60%);
}

.tag-type-meta {
    color: hsl(60, 80%, 70%);
}

.tag-type-meta:hover {
    color: hsl(60, 70%, 60%);
}

.tag-type-species {
    color: hsl(120, 80%, 70%);
}

.tag-type-species:hover {
    color: hsl(120, 70%, 60%);
}

.notification-bar {
    width: 100%;
    padding: 10px 5%;
    color: #31708f;
    background: #d9edf7;
    position: sticky;
    box-sizing: border-box;
    display: none;
    font-size: 14px;
    top: 0;
}

.notfound {
    text-align: center;
}

.notfound h1 {
    font-size: 8rem;
    margin-bottom: 1rem;
}

#counterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#counterText {
    text-align: center;
}

#featuredPosts {
    margin: 2rem 1rem 0;
}

#signin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signin #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 235px;
}

#signin #main h1 {
    margin: 2rem 0 0 0;
}

#signin #main input, #signin #main button {
    max-width: 24rem;
    margin: 1rem 0 0 0;
    padding: 0.725rem 2rem;
    background-color: #111;
    border: 1px solid #333;
    box-shadow: inset 0 1px 2px #333;
    color: white;
    outline: none;
    border-radius: 0.5rem;
}

#signin #main button {
    width: 235px;
    cursor: pointer;
    transition: background-color ease 200ms;
}

#signin #main button:hover {
    background-color: #222;
}

#signin #main button:disabled {
    color: #aaa;
    cursor: default;
    transition: background-color ease 200ms;
}

#signin #main button:disabled:hover {
    background-color: initial;
}

#signin #main span {
    width: 100%;
    margin: 0.2rem 0 0rem 0;
    font-size: x-small;
    font-weight: bold;
    text-align: center;
}

#signin #main span#forgotPwd {
    text-align: left;
}

#signin #main output {
    width: 100%;
    margin: 0.2rem 0 0 0;
    color: red;
    font-size: x-small;
    font-weight: bold;
    text-align: left;
}


@media screen and (max-width: 850px) {
    aside#sidebar {
        background-color: #0d0d0d;
        top: auto;
        left: 0 !important;
        right: 0 !important;
        bottom: 0;
        width: 100%;
        height: 5rem;
        overflow: hidden;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        z-index: 2020;
    }

    aside#sidebar ul {
        display: flex;
        width: 100%;
        margin: 0;
    }

    aside#sidebar li {
        display: flex;
        flex-direction: row;
        width: 20%;
    }

    aside#sidebar a {
        margin: 4px;
        display: flex;
        width: 100%;
        height: 4.5rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: x-small;
        color: white;
        border-radius: 12px;
        transition: all ease 200ms;
    }

    #content.container {
        left: 0;
        right: 0;
        bottom: 4.5rem;
    }
}